body {
  background-color: #050505;
  color: white;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  padding: 0;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header span {
  font-weight: 650;
  font-size: 50px;
}

.header a {
  margin-top: 50px;
}

.cursor {
  position: absolute;
  display: inline-block;
}

.header {
  margin-top: 15%;
  margin-bottom: 15%;
}

.line {
  border-bottom: 6px solid white;
  margin: 50px 100px 100px 100px
}

.portfolio {
  display: flex;
  margin: 50px auto 50px auto;
  flex-flow: row wrap;
  justify-content: center;
}

.project {
  justify-content: center;
  border: 1px solid rgb(12, 12, 12);
  padding: 20px 0px 20px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: 15px;
}

@media (max-width: 800px) {
  .portfolio {
    flex-direction: column;
  }

  .project {
    width: 90%;
  }
}

.project img {
  margin: 30px;
  max-width: 90%;
  height: auto;
}

.project span {
  margin: 0px 30px 30px 30px;
}

* {
  box-sizing: border-box;
}
